*{
    margin: 0;
    padding: 0;
}
#wrapper{
    height: 100vh;
    width:100vw;
    background-color: #99A1A6;
    text-align: center;
}
.container{
    height:70vh;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.game{
    height:60vmin;
    width:60vmin;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;

}
.box{
    height:18vmin;
    width:18vmin;
    border-radius: 1.2rem;
    border:none;
    box-shadow: 0  0 1.5rem #6E9887;
    font-size: 8vmin;
    color: #540a76; 
    background-color: #A8C69F;
   
}  
#reset-btn{
    padding:1rem;
    font-size:1.25rem;
    background-color: #D2604B ;
    color:#CFDDD8;
    border-radius: 1rem;
    border:none;
    box-shadow: 0 0 1.5rem white;
}
#new-btn{
    padding:1rem;
    font-size:1.25rem;
    background-color: #8f8f36;
    color:white;
    border-radius: 1.5rem;
    border:none;
    box-shadow: 0 0 2rem rgb(115, 115, 189);
}
#msg{
    color:#ffffc7;
    font-size: 5vmin;

}
.msg-container{
    height:30vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide{
    display: none;
}

